@charset "utf-8";
main{
    height: 349px;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: 50% 30%;
    position: relative;
}
main .cloud{
    width: 100%; height: 100%;
    background-image: url(../img/cloud.png);
    background-size: cover;
    background-position: 0% 50%;
    animation: 160s moveCloud infinite linear;
    position: absolute;
}
@keyframes moveCloud{
    0%{background-position: 0% 130%;}
    50%{background-position: 100% 130%;}
    100%{background-position: 0% 130%;}
}

#partner{}
#partner .title{
    text-align: center;
    font-size: 24px;
    color: #5c5c5c;
    padding-bottom: 40px;
}
#partner .wrap{
    width: 1000px;
    margin: 0 auto;
}
#partner .wrap .txt{
    padding: 0 20px 40px;
}
#partner .wrap .txt p{
    font-size: 14px;
    color: #5c5c5c;
    font-weight: bold;
    padding-bottom: 20px;
}
#partner .wrap .commission{
    display: flex;
    flex-wrap: wrap;
}
#partner .wrap .commission .box{
    width: calc(50% - 20px);
    margin: 0 10px;
    border: 1px solid #5e889e;
    border-radius: 4px;
    padding: 30px;
    background-size: 80% 40%;
    background-repeat: no-repeat;
    background-position: 220% 100%;
    margin-bottom: 60px;
}
#partner .wrap .commission .box h3{
    font-size: 18px;
    color: #5e889e;
}
#partner .wrap .commission .box span{
    font-size: 24px;
    color: #5e889e;
    font-weight: bold;
}
#partner .wrap .commission .box p{
    padding-top: 20px;
    margin-bottom: 70px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: bold;
}
#partner .wrap .commission .box button{
    display: inline-block;
    width: 250px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border: none;
    background-color: #5e889e;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}
#partner .wrap .commission .box button:hover{
    background-color: #999;
    color: #755562;
}

#represent{margin-bottom: 20px;}
#represent h3{
    text-align: center;
    color: #5c5c5c;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 40px;
}
#represent span{font-weight: bold;}

#represent .wrap{
    width: 1200px;
    margin: 0 auto;
}
#represent .cont{
    display: flex;
    justify-content: center;
}
#represent .cont ul{
    display: flex;
    width: calc(100% / 11 * 8);
    flex-wrap: wrap;
}
#represent .cont ul li{
    width: calc(25% - 20px);
    height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 10px 20px; 
    cursor: pointer;
}
#represent .cont ul li a{}